@tailwind base;
@tailwind components;
@tailwind utilities;
.flip-horizontal {
    transform: rotateY(180deg);
    transition: transform 0.6s;
  }
  
  .flip-vertical {
    transform: rotateX(180deg);
    transition: transform 0.6s;
  }